/* ShapeExample.css */
.profile-image {
    border: 2px solid #353637;
    width: 150px;
    border-radius: 50%; /* Make the image a circle */
    margin: 0 auto; /* Horizontally center the image */
    display: flex;
    justify-content: center;
}

.profile-box {
    width: 500px;
    height: 600px;
    text-align: center; /* Center text within the box */
    background-color: #d8e5f3;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 100px;
    box-shadow: 0px 0px 50px rgba(1, 26, 54, 0.2);
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-start; /* Vertically position content at the top */
    align-items: center; /* Horizontally center content */
    margin-top: 60px;
    margin-left: 0px;
}

.name-email {
    width: 400px;
    height: 200px;
    text-align:justify;
    background-color: #ece8e8;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 0px 50px rgba(1, 26, 54, 0.2);
    border-radius: 8px;
    padding: 30px;
    line-height: 1.5; /* Adjust line spacing as needed */
    font-size: 1px; /* Change font size as needed */
    font-weight:lighter; /* Adjust font weight as needed */
    color: #374f60; /* Change text color as needed */
    margin-top: 50px;
  }
  
  .edit-button{
    font:lighter;
    font-size: 20px;
    width: 400px; 
    height: 150px;
    background-color: #99abc5;
    color: #f6f3f3;
    border: none;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(1, 26, 54, 0.2);
    transition: background-color 0.3s, transform 0.3s; 
    cursor: pointer;
    padding: 15px;

  }

  .edit-button:hover {
    background-color: #7099c1; /* Change color on hover */
    transform: scale(1.05); /* Add a slight scale effect on hover */
  }
  